<configuration  xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="WildcardTokenizedString" value=",-w-," />
    </settings>
    <wildcardManager defaultProvider="sitecore">
      <providers>
        <clear />
        <add name="sitecore" type="Sitecore.Marketing.Wildcards.WildcardProvider, Sitecore.Marketing.Wildcards" />
      </providers>
    </wildcardManager>
		<pipelines>
		<httpRequestBegin>
			<processor type="Sitecore.Marketing.Wildcards.Pipelines.WildcardProcessor, Sitecore.Marketing.Wildcards"
					patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.LayoutResolver, Sitecore.Kernel']"/>

		</httpRequestBegin>
		</pipelines>
  </sitecore>
</configuration>